		<!-- corps -->
		<!-- <div id="main-container">
        <div class="col-md-2">
          <h1>VILLE</h1>
          <ul *ngFor="let v of villes">
            <li>
              <ul>
                <li>{{v.province_nom}}</li>
                <li>{{v.ville_nom}}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1>CHAUFFEURS</h1>
          <ul *ngFor="let ch of chauffeurs">
              <li>
                  <ul>
                    <li>{{ch.chauf_nom}}</li>
                    <li>{{ch.chauf_tel}}</li>
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1>VEHICULES</h1>
          <ul *ngFor="let vehic of vehicules">
              <li>
                  <ul>
                    <li>{{vehic.vehic_numero}}</li>
                    <li>{{vehic.vehic_couleur}}</li>
                    <li>{{vehic.typv_nom}}</li>
                    <li>{{vehic.typv_description}}</li>
                    <li>{{vehic.typv_url_image}}</li>
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-md-1">
          <h1>TYPE VEHICULES</h1>
          <ul *ngFor="let tv of type_vehicules">
              <li>
                  <ul>
                    <li>{{tv.typv_nom}}</li>
                    <li>{{tv.typv_description}}</li>
                    <li>{{tv.typv_url_image}}</li>
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-md-1">
          <h1>CLASSE VEHICULES</h1>
          <ul *ngFor="let cl of classe_vehicules">
              <li>
                  <ul>
                    <li>{{cl.cl_vehic_libelle}}</li>
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-md-2">
            <h1>LISTAGE</h1>
            <ul *ngFor="let lis of listages">
                <li>
                    <ul>
                      <li>{{lis.chauf_nom}}</li>
                      <li>{{lis.chauf_tel}}</li>
                      <li>{{lis.vehic_numero}}</li>
                      <li>{{lis.vehic_couleur}}</li>
                      <li>{{lis.listage_etat}}</li>
                      <li>{{lis.listage_ordre}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
          <h1>VOYAGE</h1>
          <ul *ngFor="let voy of voyages">
              <li>
                  <ul>
                    <li>{{voy.chauf_nom}}</li>
                    <li>{{voy.chauf_tel}}</li>
                    <li>{{voy.vehic_numero}}</li>
                    <li>{{voy.vehic_couleur}}</li>
                    <li>{{voy.listage_etat}}</li>
                    <li>{{voy.listage_ordre}}</li>
                    <li>{{voy.typv_nom}}</li>
                    <li>{{voy.typv_description}}</li>
                    <li>{{voy.typv_url_image}}</li>
                    <li>{{voy.vehic_libelle}}</li>
                    <li>{{voy.itin_depart}}</li>
                    <li>{{voy.itin_arrivee}}</li>
                    <li>{{voy.guichet_nom}}</li>
                    <li>{{voy.guichet_adresse}}</li>
                    <li>{{voy.itin_depart_dispo}}</li>
                    <li>{{voy.voy_heure_depart}}</li>
                    <li>{{voy.voy_heure_arrivee}}</li>
                    <li>{{voy.voy_etat}}</li>
                  </ul>
              </li>
          </ul>
        </div>
      </div> -->


		<div id="main-container">
		
			<!-- bloc liste de voyages -->
			<div id="bloc-voyages-recherche">
				<!-- liste des options permettant de rechercher un voyage -->
				<div id="voyages-recherche">
					<!-- icone rechercher -->
					<div id="bloc-rechercher-voyage">
						<i></i>
						<span>Trouver un<br /><span>voyage</span></span>
					</div>
					
					<ul id="options-recherche-voyage">
						<li id="options-recherche-voyage-ville-depart" class="active">
							<a (click) = "choix_ville_depart()">
								<i></i>
								<span class="rechercher-voyages-option-label">Ville de<br />depart</span>
								<span class="rechercher-voyages-option-value">{{villeDepartSelected.ville_nom}}</span>
							</a>
						</li>
						<li id="options-recherche-voyage-ville-arrivee">
							<a (click) = "choix_ville_arrivee()">
								<i></i>
								<span class="rechercher-voyagses-option-label">Ville d'<br />arriv&eacute;e</span>
								<span class="rechercher-voyages-option-value">{{villeArriveeSelected.ville_nom}}</span>
							</a>
						</li>
						<li id="options-recherche-voyage-date-depart">
							<a (click) = "choix_date_depart()">
								<i></i>
								<span class="rechercher-voyages-option-label">Date de<br />depart</span>
								<span class="rechercher-voyages-option-value">{{dateSelected.date_depart | date:"dd/MM/yyyy"}}</span>
							</a>
						</li>
						<li id="options-recherche-voyage-cooperative">
							<a (click) = "choix_cooperative()">
								<i></i>
								<span class="rechercher-voyages-option-label">Coop&eacute;rative</span>
								<span class="rechercher-voyages-option-value">{{cooperativeSelected.coop_nom}}</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div id="voyages-recherche-option-choix">
					<div id="choix-ville-depart" [class]="choixVilleDepart ? 'active' : ''">
						<span class="voyages-recherche-option-choix-label">
							Choisissez une ville de depart
						</span>
						<!-- bloc recherche ville depart -->
						<fieldset class="voyage-recherche-choix">
							<input [(ngModel)]="villeFilter.ville_nom" placeholder="Ville de depart" />
							<span></span>
						</fieldset>
						<ul *ngFor="let v of villes | filterBy: villeFilter">
							<li (click)="ville_depart_selected(v)" [class]="villeDepartSelected.ville_id == v.ville_id ? 'active' : ''"><span>{{v.ville_nom}}</span></li>
						</ul>
					</div>
					
					<div id="choix-ville-arrivee" [class]="choixVilleArrivee ? 'active' : ''">
						<span class="voyages-recherche-option-choix-label">
							Choisissez une ville d'arriv&eacute;e
						</span>
						<!-- bloc recherche ville depart -->
						<fieldset class="voyage-recherche-choix">
							<input [(ngModel)]="villeFilter.ville_nom" placeholder="Ville d'arriv&eacute;e" />
							<span></span>
						</fieldset>
						<ul *ngFor="let v of villes | filterBy: villeFilter">
							<li (click)="ville_arrivee_selected(v)" [class]="villeArriveeSelected.ville_id == v.ville_id ? 'active' : ''"><span>{{v.ville_nom}}</span></li>
						</ul>
					</div>
					
					<div id="choix-date-depart" [class]="choixDateDepart ? 'active' : ''">
						<span class="voyages-recherche-option-choix-label">
							Vous souhaitez partir quand?
						</span>
						<div class="col-md-12 form-group">
							<input 
							  type="text" 
							  class="form-control" 
							  [minDate]="now" 
							  [maxDate]="maxDate" 
							  #dp="bsDatepicker" 
							  bsDatepicker
							  [(bsValue)]="dateSelected.date_depart"
							  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }">
							  <timepicker [(ngModel)]="heureSelected.heure_depart" [showMeridian]="isMeridian" [showSpinners]="showSpinners" ></timepicker>
						  </div>
					</div>
					
					<div id="choix-cooperative" [class]="choixCooperative ? 'active' : ''">
						<span class="voyages-recherche-option-choix-label">
							Choisissez une coop&eacute;rative
						</span>
						<!-- bloc recherche ville depart -->
						<fieldset class="voyage-recherche-choix">
							<input [(ngModel)]="cooperativeFilter.coop_nom" placeholder="Coop&eacute;rative" />
							<span></span>
						</fieldset>
						<ul *ngFor="let c of cooperatives | filterBy: cooperativeFilter">
							<li (click)="cooperative_selected(c)" [class]="cooperativeSelected.coop_id == c.coop_id ? 'active' : ''"><span>{{c.coop_nom}}</span></li>
						</ul>
					</div>
					
				</div>
				
				<div class="reservation-etape-btn">
					<a id="reservation-etape-btn-rechercher" href="#"></a>
				</div>
				
			</div>
		
			<!-- liste des voyages -->
			<div id="bloc-voyages-liste">
			
				<!-- 1 item de voyage -->
				<ul *ngFor="let voy of voyages">					
					<li (click)="voyage_selected(voy)" [class]="voyageSelected.voy_id == voy.voy_id ? 'voyage active' : 'voyage'">
						<!-- image du bus pour le voyage -->
						<div class="voyage-bloc-image">
							<div class="voyage-image-container">
								<!-- une image carrée ici svp -->
								<img src="assets/images/bus/c.jpg" />
							</div>
						</div>
						
						<!-- informations breves sur le voyage -->
						<div class="voyage-bloc-informations">
							<!-- itinéraire -->
							<span class="voyage-itineraire">
								<!-- ville de départ -->
								<span class="voyage-ville-depart">
									Antananarivo
								</span>
								<!-- ville d'arrivée -->
								<span class="voyage-ville-arrivee">
									Fianarantsoa
								</span>
							</span>
							<!-- date et heure de départ -->
							<span class="voyage-date-heure-depart">
								<!-- date de départ -->
								<span class="voyage-date-depart">
									Mercredi, 12 Septembre 2018 
								</span>
								<!-- à -->
								&agrave;
								<!-- heure de départ -->
								<span class="voyage-heure-depart">
									08h:30mn
								</span>
							</span>
							<!-- coopérative et frais -->
							<span class="voyage-cooperative-frais">
								<!-- coopérative -->
								<span class="voyage-cooperative">
									SONATRA
								</span>
								<!-- frais -->
								<span class="voyage-frais">
									25.000 Ar
								</span>
							</span>
						</div>
					</li>
				</ul>
				
				<div class="reservation-etape-btn">
					<a id="reservation-etape-btn-choisir" href="#"></a>
				</div>
				
			</div>
			
			<!-- Liste des places disponibles -->
			<div id="bloc-voyage-reservation">
				<form>
					<input type="hidden" name="reservation-id" value="" />
				
					<span id="voyage-frais">25.000 Ar</span>
					<span id="nombre-places-libres"><span>14 </span>places disponibles</span>
					<span id="choix-place-label">Choisissez une place libre</span>
					<table id="bus-places">
						<tbody>
							<!-- ligne 1 -->
							<tr class="bus-places-ligne">
								<td class="bus-places-colonne">
								</td>
								<td class="bus-places-colonne">
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="1" id="bus-place-1" />
									<label class="bus-place" for="bus-place-1">
										<span>1</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="2" id="bus-place-2" />
									<label class="bus-place" for="bus-place-2">
										<span>2</span>
									</label>
								</td>
							</tr>
							<!-- ligne 2 -->
							<tr class="bus-places-ligne">
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="3" id="bus-place-3" />
									<label class="bus-place" for="bus-place-3">
										<span>3</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="4" id="bus-place-4" />
									<label class="bus-place" for="bus-place-4">
										<span>4</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-5">
										<span>5</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-6">
										<span>6</span>
									</label>
								</td>
							</tr>
							<!-- ligne 3 -->
							<tr class="bus-places-ligne">
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="7" id="bus-place-7" />
									<label class="bus-place" for="bus-place-7">
										<span>7</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="8" id="bus-place-8" />
									<label class="bus-place" for="bus-place-8">
										<span>8</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-9">
										<span>9</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="10" id="bus-place-10" />
									<label class="bus-place" for="bus-place-10">
										<span>10</span>
									</label>
								</td>
							</tr>
							<!-- ligne 4 -->
							<tr class="bus-places-ligne">
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="11" id="bus-place-11" />
									<label class="bus-place" for="bus-place-11">
										<span>11</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-12">
										<span>12</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-13">
										<span>13</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<label class="bus-place" for="bus-place-14">
										<span>14</span>
									</label>
								</td>
							</tr>
							<!-- ligne 5 -->
							<tr class="bus-places-ligne">
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="15" id="bus-place-15" />
									<label class="bus-place" for="bus-place-15">
										<span>15</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="16" id="bus-place-16" />
									<label class="bus-place" for="bus-place-16">
										<span>16</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="17" id="bus-place-17" />
									<label class="bus-place" for="bus-place-17">
										<span>17</span>
									</label>
								</td>
								<td class="bus-places-colonne">
									<input type="radio" name="bus-place" value="18" id="bus-place-18" />
									<label class="bus-place" for="bus-place-18">
										<span>18</span>
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			
			<!-- informations sur un voyage choisi -->
			<div id="bloc-voyage-informations">
				<!-- informations sur le bus -->
				<div id="bloc-voyage-informations-bus">
					<div id="voyage-bus-image-container">
						<!-- photo du bus -->
						<img src="assets/images/bus/a.jpg" id="voyage-bus-image" />
						<!-- logo de la coopérative -->
						<img src="assets/images/bus/logo.png" id="voyage-cooperative-logo" />
					</div>
					<div class="voyage-information">Sprinter</div>
						<!-- numéro du bus -->
					<div class="voyage-information-title">2014 TAB</div>
				</div>
				<!-- informations sur chauffeur -->
				<div id="bloc-voyage-informations-chauffeur">
					<i id="voyage-chauffeur-icone"></i>
					<div class="voyage-information-title">CHAUFFFEUR</div>
					<!-- nom du chauffeur -->
					<div class="voyage-information">RASOLOFO Jean Rakoto</div>
					<!-- numéro du chauffeur -->
					<div class="voyage-information">0340502143</div>
				</div>
				<!-- informations autour de la coopérative -->
				<div id="bloc-voyage-informations-cooperative">
					<div class="voyage-information-title">COOP&Eacute;RATIVE</div>
					<!-- nom de la coopérative -->
					<div class="voyage-information">SONATRA</div>
					<!-- numéro du responsable de la coopérative -->
					<div class="voyage-information">0332125478</div>
					<!-- emplacement de la coopérative -->
					<div class="voyage-information">FASAN'NY KARANA</div>
				</div>
			</div>
			
		</div>
