<!-- corps -->
<div id="main-container">
  <div id="slide">
    <div id="slide-prev">
      <a href="#"></a>
    </div>
    <ul>
        <li *ngFor = "let ville of provinces; let i = index;" [attr.id] = "'slide-ville-'+ville.prov_nom" [attr.class] = "i == 0 && 'current' || ''">
          <div class="slide-item">
            <div class="slide-column slide-column-1" >
              <div class="slide-cell"id="slide-cell-{{ville.prov_nom | lowercase}}-1">
                <span class="slide-cooperative-nom">{{ville.infos[0].coop_abrev | uppercase}}</span>
                <span class="slide-cooperative-ville">{{ville.infos[0].ville.ville_nom}}</span>
              </div>
              <div class="slide-cell slide-cell-2" id="slide-cell-{{ville.prov_nom | lowercase}}-2">
              </div>
            </div>
            <div class="slide-main-column" id="slide-main-column-{{ville.prov_nom | lowercase}}">
              <span class="slide-ville-cooperatives">
                <span class="slide-ville-nb-cooperatives">{{ville.nb_province}}</span>coop&eacute;ratives
              </span>
              <div class="slide-ville-info">
                <span class="slide-ville-nom">
                  {{ville.prov_nom}}
                </span>
                <br /><br />
                <span class="slide-ville-description">
                  {{ville.prov_description}}
                </span>
              </div>
            </div>
            <div class="slide-column slide-column-2">
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-3">
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-4">
                <span class="slide-cooperative-nom">{{ville.infos[1].coop_abrev | uppercase}}</span>
                <span class="slide-cooperative-ville">{{ville.infos[1].ville.ville_nom}}</span>
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-5">
              </div>
            </div>
            <div class="slide-column slide-column-3">
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-6">
                <span class="slide-cooperative-nom">{{ville.infos[2].coop_abrev | uppercase}}</span>
                <span class="slide-cooperative-ville">{{ville.infos[2].ville.ville_nom}}</span>
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-7">
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-8">
                <span class="slide-cooperative-nom">{{ville.infos[3].coop_abrev | uppercase}}</span>
                <span class="slide-cooperative-ville">{{ville.infos[3].ville.ville_nom}}</span>
              </div>
            </div>
            <div class="slide-column slide-column-4">
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-9">
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-10">
                <span class="slide-cooperative-nom">{{ville.infos[4].coop_abrev | uppercase}}</span>
                <span class="slide-cooperative-ville">{{ville.infos[4].ville.ville_nom}}</span>
              </div>
              <div class="slide-cell" id="slide-cell-{{ville.prov_nom | lowercase}}-11">
              </div>
            </div>
          </div>
        </li>
    </ul>
    <div id="slide-next">
        <a href="#"></a>
    </div>
  </div>
  <div id="slide-pagination">
      <ul>
        <li *ngFor = "let ville of provinces$; let i = index;" [attr.class] = "i == 0 && 'active' || ''">
          <a href="#slide-ville-{{ville.prov_nom | lowercase}}" ></a>
        </li>
      </ul>
  </div>
    
    <div id="description-site">
      Mockplus* is a faster and easier prototyping tool to help you make prototypes by making interactions with simple drag-and-drop and working on a team project easily and effortlessly. Microsoft, Oracle, Simens, IBM, UBI, Huawei and 300+ global collMockplus is a faster and easier prototyping tool to help you make prototypes by making interactions with simple drag-and-drop and working on a team project easily and effortlessly. Microsoft, Oracle, Simens, IBM, UBI, Huawei and 300+ global colleges are using it, YOU SHOULD TOO!
    </div>
</div>